.App {
  text-align: center;
  margin-top: 10px;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
}

.h2 {
  color: #4285f4;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}
